label {
  font-family: $font-bellefair;
  font-size: $font-medium;
}

input {
  font-family: $font-quicksand;
}

// li {
//   font-family: $font-quicksand;
//   font-size: $font-small;
//   list-style-type: $list-none;
// }

body {
  text-align: $body-center;
  @extend %style-body;
}

button {
  @extend %button-chat;
  &:hover {
    color: grey;
  }
}

//nesting
ul {
  li {
      @extend %ul-style;
      &:hover {
        color: grey;
      }
  }
}
