body {
  text-align: $body-center;
  @extend %style-body;
}

h1 {
  font-family: $font-quicksand;
  color: $font-white;
}


label {
  font-family: $font-bellefair;
  font-size: $font-medium;
  color: $font-white;
}

input {
  font-family: $font-quicksand;
}


button {
  @extend %button-chat;
  &:hover {
    color: grey;
  }
}

//nesting
ul {
  li {
      @extend %ul-style;
      &:hover {
        color: grey;
      }
  }
}
